/*
   original: https://github.com/pages-themes/hacker
   modified for light mode
*/

$apple-blossom: #c7254e;
$alto: #2a2a2a;
$bouquet: #7c3a83;
$chelsea-cucumber: #5f7a3f;
$cod-grey: #ffffff;
$conifer: #3d7a1f;
$dove-grey: #999;
$gallery: #000000;
$grey: #666;
$gulf-stream: #4a7b71;
$hippie-blue: #3d6a7a;
$potters-clay: #b5653f;
$rajah: #d89d3a;
$raw-sienna: #a85f2e;
$silver-chalice: #555;
