@charset "UTF-8";
/*
   original: https://github.com/pages-themes/hacker 
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $gallery !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: $body-background;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}


section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.02);
  border-bottom: 1px dashed $header;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

.header-subtitle {
  text-align: left;
  margin: 10px 0;
  color: #666;
}

.header-links {
  text-align: left;
}

.header-link {
  display: inline;
  margin: 0 20px 0 0;
}

header h1 {
  font-size: 34px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: $header;
  text-shadow: none;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: none;
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

.post-list li {
  list-style-type: none;
}

.archive-list {
  list-style-type: none;
  padding-left: 0;
}

.archive-list li {
  margin-bottom: 0.5em;
}

.archive-date {
  display: inline-block;
  width: 110px;
  color: #666;
  font-size: 0.9em;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 16px;
  color: #3d7a1f;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.03);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #7c3a83;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed $gallery;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
    height: 34px;
    margin: 0 0 0 0;
    text-align: center;
    border-color: #777;
    border-width: 0;
    border-style: dotted;
}


hr:after {
    content: "***";
    font-size: 2em;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1), rgba(230, 230, 230, 1) 50%, rgba(220, 220, 220, 1) 50%, rgba(210, 210, 210, 1));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1), rgba(220, 220, 220, 1) 50%, rgba(200, 200, 200, 1) 50%, rgba(190, 190, 190, 1));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: inherit;
  text-shadow: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

header a,
.post-list h2 a,
.archive-list a,
.pagination a {
  text-decoration: none;
}

header a:hover,
.post-list h2 a:hover,
.archive-list a:hover,
.pagination a:hover {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* Make footer stick to bottom */

.pagination {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pagination .page-item {
  display: inline-block;
  padding: 0 5px;
  margin: 0 2px;
}

.pagination a.page-item {
  color: #999;
}

.pagination a.page-item:hover {
  color: #000;
  text-decoration: none;
}

.pagination span.page-item {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#wrapper {
  min-height: calc(100vh - 100px);
}
